body {
    background-color: #D9D6CF;
    /*old background-color: rgb(189, 178, 175); */
    
}

#carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    max-height: 20% !important;
    max-width: 50%; 
}

#carousel img {
    align-self: center;
    justify-self: center;
    width: auto;
    max-height: 400px;
    /* pictures gonna be cropped to one size, somewhere around 515/400 */
}


/* Tab thing */


#tabs {
   max-width: 75%;
}

.btn-primary { /*TODO: change background color */

}

#compositionDesc {
    display: inline;
}

#mixingDesc {
    display: none;
}

#advertisingDesc {
    display: none;
}

#contactDesc {
    display: none;
}

#bioDesc {
    display: none;
}

#descriptionContainer {
    background-color: aliceblue;
    height: 200px; /* once descriptions have been decided on, just set it to one 
    a min height that contains them all */

}

/* Accordion Section */

#workExamplesSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoBar {
    padding: 10px;
    text-align: center;
    background-color: #CFD2D9;
    margin-top: 20px !important;
    justify-self: center;
}

.accordion{
    /* TODO: make the infoBar and accordion seem more
    like they belong together through styling */
}

footer {
    display: flex;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    opacity: 75;

}