body {
    background-color: #D9D6CF;
    /*old background-color: rgb(189, 178, 175); */
    
}

/* Carousel */

#carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    max-height: 20% !important;
    max-width: 50%; 
}

#carousel img {
    align-self: center;
    justify-self: center;
    width: auto;
    max-height: 400px;
    /* pictures gonna be cropped to one size, somewhere around 515/400 */
}


/* Tab thing */


#tabs {
   min-width: 60%;
   flex-wrap: wrap;
}


.btn-primary { /*TODO: change background color, original was #0d6efd */
    /* background-color: #6C8493;
    border-color: #6C8493; */
    background-color: #4F606B ;
    border-color: #4F606B;

}

#compositionDesc {
    display: inline;
}

#mixingDesc {
    display: none;
}

#advertisingDesc {
    display: none;
}

#contactDesc {
    display: none;
}

#bioDesc {
    display: none;
}

#descriptionContainer {
    background-color: aliceblue;
    height: 200px; /* once descriptions have been decided on, just set it to one 
    a min height that contains them all */

}

/* Accordion Section */

#workExamplesSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoBar {
    padding: 10px;
    text-align: center;
    background-color: #CFD2D9;
    margin-top: 20px !important;
    justify-self: center;
}


audio {
    max-width: 100%;
    
}

/* Footer */

footer {
    display: flex;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    opacity: 75;

}

/* Media Queries...
        ToDo: make it so first button doesn't align weird? if possible  */

@media only screen and (max-width: 991px) { /* for making buttons become rectangular */
    .btn {
        border-radius: 0;
    }

    #tabs {
        width: 100%;
    }

}

@media only screen and (max-width: 7750px) {
    #descriptionContainer {
        height: auto;
    }
}

@media only screen and (max-width: 650px) {
    #carousel{
        display: none;
    }

    #tableture {
        margin-top: 20px;
    }

}