body {
    background-color: #D9D6CF;
    /*old background-color: rgb(189, 178, 175); */
    
}

/* Nav bar */

#homeButton {
    display: none; /* change once we have different pages */
}


/* Carousel */

#carouselSection {
    background-color: #678D98;
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#carousel {
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#carousel img {
    align-self: center;
    justify-self: center;
    max-height: 400px;
    height: auto;

    /* pictures cropped to 1496/997 because why not */
}


/* Tab thing */


#tabs {
   min-width: 60%;
   flex-wrap: wrap;
}


.btn-primary { 
    background-color: #4F606B ;
    border-color: #4F606B;

}

.btn-primary:hover {
    background-color: #4d7e94;
    border-color: #4d7e94;
}

#compositionDesc {
    display: inline;
}

#mixingDesc {
    display: none;
}

#advertisingDesc {
    display: none;
}

#contactDesc {
    display: none;
}

#bioDesc {
    display: none;
}

#descriptionContainer {
    background-color: aliceblue;
    min-height: 200px; /* once descriptions have been decided on, just set it to one 
    a min height that contains them all */

}

/* Accordion Section */

#workExamplesSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoBar {
    padding: 10px;
    text-align: center;
    background-color: #678D98;
    justify-self: center;
}

.smallInfoBar {
    padding: 5px;
    text-align: center;
    background-color: #A5BBC2;
    justify-self: center;
}

.smallInfoBar h4 {
    margin-bottom: 0px !important;
}

.accordion-button {
    background-color: #ECF4FF;
}

audio {
    max-width: 100%;
}

/* References */

#references {
    margin-bottom: 20px;
}

#referencesContainer {
    background-color: aliceblue;
}

.referencesDescriptions {
    margin-top: 10px;
}

/* Footer */

footer {
    display: flex;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    opacity: 75;

}

/* Media Queries...
        ToDo: make it so first button doesn't align weird? if possible  */

@media only screen and (max-width: 991px) { /* for making buttons become rectangular */
    .btn {
        border-radius: 0;
    }

    #tabs {
        width: 100%;
    }

}

@media only screen and (max-width: 7750px) {
    #descriptionContainer {
        height: auto;
    }
}

@media only screen and (max-width: 650px) {
    #carouselSection{
        display: none;
    }

    #tableture {
        margin-top: 20px;
    }

}

@media only screen and (max-height: 550px) {
    #carouselSection{
        display: none;
    }

    #tableture {
        margin-top: 20px;
    }

}